@import 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.container {
  display: inline-flex !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 450px;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  &:focus {
    outline: none !important;
  }
}

.container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  &.body {
    opacity: 0;
  }
}

.body {
  position: absolute;
  top: 60%;
  width: 100%;
  @include padding-l-xs;
}

.title {
  height: 50%;
}

.title h4 {
  margin: 0;
}

.button {
  width: 50%;
  background: transparent;
  border: 1px solid $color-accent;
  border-radius: 1em;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  @include padding-y-xxs;
  @include margin-y-sm;
}

.button p {
  margin: 0;
}
