@import 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background: $gradient-blue;
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 3px;
  color: $color-white;
}

.container {
  @include padding-x-xxl;
  @include padding-y-xs;
  @include bp(md) {
    @include padding-x-sm;
  }
}

.menuList {
  display: flex;
  list-style: none;
  @include bp(md) {
    justify-content: center;
  }
}

.listItem {
  @extend .noSelect;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

  &:after {
    color: $color-accent;
    content: '•';
    @include margin-x-xs;
  }
}

.listItem:last-child {
  &:after {
    content: none;
  }
}

.noSelect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */

  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
}
