@import 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.contact {
  overflow: hidden;
}

// Makes the top triangle to show on the previous section
.space {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 200px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.container:before {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 180%;
  background: #f6f9fc;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  content: '';
}

.body {
  @include padding-xxl;
}

.head {
  text-align: center;
}

.headTitle {
  font-size: 0.8em;
  text-transform: uppercase;
}

.email {
  font-size: 2em;
  a {
    color: $font-primary-color;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }
}

.button {
  display: block;
  width: 50%;
  margin: 0 auto;
  border: 1px solid $color-accent;
  border-radius: 6px;

  &:hover {
    background-color: $font-primary-color;
    color: $color-white;
  }
}

.button a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  @include padding-y-xxs;
}
