@import 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.container {
  height: 70vh;
  @include padding-xxl;
  @include bp(sm) {
    overflow: hidden;
    height: 80vh;
    @include margin-t-sm;
    @include padding-md;
  }
}

.body {
  display: flex;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  margin-left: -15px;
  transition-duration: 0.5s;
  transition-property: transform;
}

:global {
  .slick-slide {
    width: 100%;
    @include padding-x-xxs;
  }
}

.slide {
  display: inline-flex !important;
  width: 100% !important;
  height: 100% !important;
  &:focus {
    outline: none !important;
  }
}
