@import 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  background: $gradient-purple;
  color: $color-white;
  @include padding-sm;
}

.footer p {
  margin: 0;
}

.footer a {
  color: $font-primary-color;
  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
}
