@import 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  text-align: center;
  @include bp(lg) {
    height: auto;
    @include padding-y-lg;
  }
}

.container:before {
  top: 0;
  right: 0;
  width: 100%;
  height: 3em;
  content: '';
  @include bp(sm) {
    height: 5em;
  }
}

.head h1 {
  color: $font-secondary-color !important;
}

.name {
  display: block;
  font-size: 1.5em;
  color: $font-primary-color;
  @include margin-t-xxs;
}

.waver {
  display: inline-block;
  margin-right: 22px;
  font-size: 1em;
  transform-origin: 50% 90%;
  animation: waver 0.65s alternate infinite;
  animation-timing-function: ease-in-out;
}

@keyframes waver {
  0% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
