@import 'src/styles/vars.scss';
@import 'src/styles/mixins.scss';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
}

.head {
  color: $font-secondary-color;
  span {
    display: block;
    font-size: 1.5em;
    color: $font-primary-color;
    @include margin-t-xxs;
  }
}
